<%define inDocumentationSection %>
<%set title = J2ME Polish: Documentation %>
<%include start.txt %>

	<h1 id="top">Documentation</h1>
	<p>
	Your first time here? Don't forget to check out the <a href="docs/introduction.html">Introduction</a> 
	for getting a high level overview about J2ME Polish and for making your first steps with J2ME Polish.
	</p>
	<p>
	<img align="right" alt="J2ME Polish 2.0" src="<%= basedir %>images/j2mepolish-blue.png"  widht="400" height="400" />
	J2ME Polish contains many different modules that are described in detail in the following subsections:
	</p>
	<ul>
		<li><a href="<%= basedir %>docs/install.html">Installation</a>: helps you to install and integrate J2ME Polish in your IDEs</li>
		<li><a href="<%= basedir %>docs/migration.html">Migration</a>: eases the transition from J2ME Polish 1.x to J2ME Polish 2.0</li>
		<li><a href="<%= basedir %>docs/gui-concepts.html">Design</a>: learn how to design your applications and how to use the additional GUI components of J2ME Polish</li>
		<li><a href="<%= basedir %>docs/gui-visualguide.html">Visual Guide</a>: provides you with a quick overview about the GUI options</li>
		<li><a href="<%= basedir %>docs/customization.html">Customization</a>: find out how to create customized versions of your applications easily</li>
		<li><a href="<%= basedir %>docs/localization.html">Localization</a>: adjust your application to different languages and regions</li>
		<li><a href="<%= basedir %>docs/persistence.html">Persistence</a>: learn how to store your data on the handset</li>
		<li><a href="<%= basedir %>docs/rmi.html">RMI/RPC</a>: interact and exchange data with your server with the Remote Method Invocation framework</li>
		<li><a href="<%= basedir %>docs/build.html">Building</a>: learn about building your applications with J2ME Polish, including 
					<a href="<%= basedir %>docs/preprocessing.html">preprocessing</a>,
					<a href="<%= basedir %>docs/resource-assembling.html">resource handling</a>,
						 and
					<a href="<%= basedir %>docs/build.html">build.xml options</a>.
		</li>
		<li><a href="<%= basedir %>docs/programming.html">Programming</a>: learn how to lessen your development time with the 
					<a href="<%= basedir %>docs/programming-utilities.html">utility classes</a>, 
					<a href="<%= basedir %>docs/programming-java5.html">Java 5 syntax support</a>, 
					<a href="<%= basedir %>docs/programming-porting.html">porting support</a> and the 
					<a href="<%= basedir %>docs/serialization.html">serialization framework</a>.
		<li><a href="<%= basedir %>docs/platform.html">Platforms</a>: You are not limited to MIDP platforms with J2ME Polish. Find out how to 
			target other platforms and markets like <a href="<%= basedir %>docs/platform-blackberry.html">BlackBerry</a>,
			<a href="<%= basedir %>docs/platform-doja.html">DoJa</a> or
			<a href="<%= basedir %>docs/platform-javase.html">Desktop Java, Java WebStart and Applets</a>.
			
		</li>
		<!-- 
		<li><a href="docs/.html"></a>: </li>
		 -->
		<li><a href="<%= basedir %>docs/javadoc.html">Java Doc</a>: gives programmers API details about J2ME Polish</li>
	</ul>
	<h2>Index</h2>
		<p>Have a look at the <a href="<%= basedir %>atoz.html">index</a> 
		for finding information about J2ME Polish technologies quickly.
		</p>
	
	
	


<%include end.txt %>