<%set title = J2ME Polish: Changelog %>
<%set basedir = ../ %>
<%include start.txt %>
	
	<h1 id="top">Changelog</h1>	
	<h2 id="20">J2ME Polish 2.0</h2>
	<p>
	Following changes have been done since J2ME Polish 2.0 RC4:
	</p>
	<ul>
		<li><b>- RMI</b>: Remote methods without parameters are supported now. Server side exceptions are handled better. Re-enabled obfuscation support. Fixed handling of Nokia Series 40 3rd edition phones. Handled synchronization for cases in which a remote call is triggered immediately after calling RemoteClient.open() on Sony Ericsson phones. Used connections are cleaned up correctly on Motorola devices. Added support for switching between obfuscated and normal builds.</li>
		<li><b>- Gauge</b>: fixed setValue() when there is a <code>view-type</code> attached to a gauge.</li>
		<li><b>- Floater</b>: fixes for Math.toRadians(), Math.toDegrees() and DataInput.readFloat() and handling of float and double arrays.</li>
		<li><b>- Bytecode Extensions</b>: classloading fix</li>
		<li><b>- ScrollIndicator</b>: Foxed positioning of default scroll-indicators.</li>
		<li><b>- Browser</b>: busy indicator is removed correctly now every time, navigation works correctly after an invalid URL has been selected.</li>
		<li><b>- Scrolling</b>: when there is static text at the beginning of a Form and the first interactive element is selected automatically, the Form will not scroll automatically.</li>
		<li><b>- MenuBar</b>: fixed menubar layout for screens with margins</li>
		<li><b>- Alert</b>: alerts that are placed without specifying the next screen do always return to the previous shown screen.</li>
		<li><b>- popup</b>: background of popup screens is painted correctly on Sony devices when repaint-previous-screen has been specified.</li>
		<li><b>- BlackBerry</b>: the focus between textfields is now handled correctly on devices with trackballs. The correct JDE is now used for building devices with or without trackballs when <code>blackberry.home</code> points to the directory containing various JDEs. Icons are now supported for JDEs before the JDE 4.2, too.</li>
		<li><b>- SnapshotScreen</b>: snapshots are now also possible on Series 40 devices.</li>
		<li><b>- FramedForm</b>: fixed handling of key events and positioning of top/bottom frames, added deleteAll() and delete() methods</li>
		<li><b>- Utils</b>: fixed classpath in the batch files of the FontEditor and the BinaryEditor</li>
		<li><b>- POPUP ChoiceGroups</b>: lists that are longer than a page are painted and scrolled correctly.</li>
		<li><b>+ ThreadedCommandListener</b>: added de.enough.polish.event.ThreadedCommandListener and AysnchronousCommandListener</li>
		<li><b>+ screen change animations</b>: added <code>fade</code>, <code>particle</code>, <code>gradient</code>, <code>zoomBoth</code> and <code>diagonal</code> animations.</li>
		<li><b>+ ImageUtil</b>: the scale() methods can now scale down images as well.</li>
		<li><b>+ RssBrowser</b>: the RssBrowser displays RSS 2.0 content</li>
		<li><b>+ WYSIWYG Designer</b>: the WYSIWYG designer in <i>${polish.home}/bin</i> allows you to design existing applications without needing to know CSS and with direct visual feedback to the designer. Note that this is merely a preview to the full designer.</li>
		<li><b>+ Ticker</b>: you can now add several tickers to a Form by calling UiAccess.append( ticker, form ).</li>
		<li><b>+ Build List</b>: You can generate the list of devices as well as the list of generated JAD and JAR files using the <code>buildlist</code> finalizer:
<pre>
	&lt;finalizer name=&quot;buildlist&quot; /&gt;
</pre>
		</li>
		<li><b>+ HTML and WML Export</b>: You can generate simple HTML and WML pages that contain links to the JAD files for all generated applications:
<pre>
	&lt;taskdef name=&quot;buildlist&quot; XXX TBD XXX /&gt;
</pre>
		</li>
		<li><b>+ Programmatic Styles</b>: It's now much easier to change and generate styles programmatically, e.g. by calling style.setAttribute(short id,Object value).</li>
		<li><b>+ menubar-style, leftcommand-style, rightcommand-style, middlecommand-style, menu-style</b>: You can now use these CSS attributes for using screen specific menu/menubarstyles when using the extended menubar:
<pre>
.mainScreenMenu  {
	margin-right: 10;
	margin-left: 10;
	padding: 4;
	layout: right | bottom | horizontal-shrink | vertical-shrink;
	repaint-previous-screen: true;
	background {
		type: round-rect;
		color: #8ff0;
	}
	<b>menubar-style: .mainScreenMenuMenuBar;</b>
}

.mainScreenMenuMenuBar extends menubar {
	background {
		type: round-rect;
		color: #8ff0;
	}
	background-type: simple;
	<b>leftcommand-style: .mainScreenMenuLeftCommand;</b>
	<b>rightcommand-style: .mainScreenMenuRightCommand;</b>
}

.mainScreenMenuLeftCommand {
	font-color: black;
	font-style: bold;
	text-effect: outline;
}

.mainScreenMenuRightCommand {
	layout: right;
	font-color: green;
	font-style: bold;
}
</pre>
		</li>
		<li><b>+ Item Commands</b>: When using the extended menubar and targeting devices that have a defined <code>polish.key.MiddleSoftKey</code> capability, the item command with the highest  priority will be placed in the middle of the menubar. You can force item commands for other devices as well, by setting the preprocessing variable <code>polish.MenuBar.useMiddleCommand</code> to true. It can be designed using the <code>middlesoftkey</code> CSS style:
<pre>
leftcommand
{
	margin: 0;
    margin-horizontal: 10;
	padding-top: 5;
	padding-bottom: 0;
	font-color: black;
	font-style: bold;
	text-effect: shadow;
	text-shadow-color: #ff0;
}

rightcommand extends leftcommand
{
	layout: right;
}

<b>middlecommand</b> extends leftcommand {
	layout: center;
	/* lifting the center command by moving it upwards relative 
	 * to the left and right command (which have a padding-top of 5): 
	 */
	padding-top: 1;
}
</pre>
		</li>
		<li><b>+ TextField/info</b>: The <code>info<code> element that displays the current input mode for TextFields can now be moved into TextFields as well by specifying the <code>polish.TextField.includeInputInfo</code> preprocessing variable in your build.xml script:
<pre>
&lt;variable name=&quot;polish.TextField.includeInputInfo&quot; value=&quot;true&quot; /&gt;
</pre>
		</li>
		<li><b>+ Libraries</b>: You can now use variables within paths to binary libraries, e.g.
<pre>
&lt;libraries&gt;
	&lt;library file=&quot;libs/${polish.vendor}/external.jar&quot; /&gt;
&lt;/libraries&gt;
</pre>
		</li>
		<li><b>+ QWERTY Support</b>: now supporting qwerty style keyboards on Nokia E70, E61, communicator devices</li>
		<li><b>+ Screen Orientation Change</b>: Devices that can change their screen orientation are now supported</li>
		<li><b>+ Right Aligned Menubar</b>: On Nokia communicator the menubar is positioned on the right side of the screen</li>
		<li><b>+ FilteredList/FilteredChoiceGroup</b>: the FilteredList and FilteredChoiceGroup allows you to narrow down searches by entering input</li>
		<li><b>+ Animations</b>: improved animation handling, now only animated parts are refreshed in the next paint cycle</li>
		<li><b>+ Predictive Text Input</b>: You can use predictive text input when setting both polish.TextField.useDirectInput and polish.TextField.usePredictiveInput to true in your build.xml:
<pre>
&lt;variables&gt;
	&lt;variable name=&quot;polish.TextField.useDirectInput&quot; value==&quot;true&quot;/&gt;
	&lt;variable name=&quot;polish.TextField.usePredictiveInput&quot; value==&quot;true&quot;/&gt;
&lt;/variables&gt;
</pre>		
		</li>
		<li><b>+ String[] Based Predictive Input</b>: When activating predictive input you can even limit input to a specified String array by using UiAccess:
<pre>
TextField field = new TextField(&quot;What do you target&quot;, null, 30, TextField.ANY);
String[] allowedWords = new String[]{ &quot;J2ME&quot;, &quot;Java&quot;, &quot;Windows Mobile&quot;, &quot;Linux&quot;, &quot;OS X&quot; };
UiAccess.setPredictiveDictionary( field, allowedWords)
</pre>
		 </li>
		<li><b>+ Smiley Support</b>: you can now use the &quot;smiley&quot; text effect for showing smileys within StringItems and TextFields (more information to follow). </li>
		<li><b>+ Various View Types</b>: added new view-types like <b>fisheye</b> for Lists or Containers, <b>gauge-cycling-spheres</b> for Gauges, <b>verticalfixed</b> for Forms and Lists and so on.</li>
		<li><b>+ Resource Assembling</b>: you can now choose to include all subfolders but not the root directory itself. It's also possible to exclude files:
<pre>
&lt;resources
	dir=&quot;resources&quot;
	excludes=&quot;readme.txt&quot;
&gt;
	<b>&lt;root dir=&quot;resources/templates&quot; includeSubDirs=&quot;true&quot; includeBaseDir=&quot;false&quot; exclude=&quot;CVS&quot; /&gt;</b>
&lt;/resources&gt;
</pre>
		</li>
		<li><b>+ 'combined' Background</b>: combine any number of backgrounds using the <code>combined</code> background:
<pre>

backgrounds {
	titleForeground {
		type: polygon;
		points: 10,50 50,10 90,50 50,90;
		color: #00f;
		scale-mode: proportional;
		anchor: right | vcenter;
	}
	titleBackground {
		type: combined;
		foreground: titlePolygonLeft;
		background: titleGradient;
	}
	
	titlePolygonLeft {
		type: polygon;
		points: 10,50 50,10 90,50 50,90;
		color: #00f;
		scale-mode: proportional;
		anchor: left | vcenter;
	}
	titleGradient {
		type: vertical-gradient;
		top-color: white;
		bottom-color: blue;
	}
}

title {
	padding: 2;
	margin-top: 0;
	margin-bottom: 5;
	margin-left: 0;
	margin-right: 0;
	font-face: proportional;
	font-size: large;
	font-style: bold;
	font-color: brightFontColor;
	border: none;
	layout: horizontal-center | horizontal-expand;
	
	<b>background {
		type: combined;
		foreground: titleForeground;
		background: titleBackground;
	}</b>
}

</pre>
		</li>
		<li><b>'mask' Background</b>: You can bring any background in any shape and optionally make it 
		translucent by using the <code>mask</code> background:
<pre>

backgrounds {
	
	maskBackground {
		type: polygon;
		points: 5,90 55,0 105,90 155,0 205,90;
		reference-width: 210;
		reference-height: 100;
		scale-mode: scale;
		color: maskColor;
	}
	
	gradientBackground {
		type: vertical-gradient;
		top-color: white;
		bottom-color: blue;
	}
	
}
menubar {
	margin: 0;
	padding-top: 3;
	padding: 2;
	<b>background {
		type: mask;
		mask: maskBackground;
		mask-color: maskColor;
		background: gradientBackground;
		opacity: 150;
	}</b>
}
</pre>
		</li>
		<!-- 
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		 -->
	</ul>
	<h2 id="20RC4">J2ME Polish 2.0 RC4</h2>
	<p>
	Following changes have been done since J2ME Polish 2.0 RC3:
	</p>
	<ul>
		<li><b>+ CSS Calculations</b>: You can use simple arithmetic calculations within numerical CSS attributes now:
<pre>
.myMenuElement {
	padding: 2;
	padding-left: 2 + imagewidth( before.png );
	min-height:2 + imageheight( before.png ) + 2; /* padding-top + content + padding-bottom */
}
.myMenuElement:hover {
	padding-left: 2;
	before: url( before.png );
}
</pre>
		</li>
		<li><b>+ TabbedForm Control</b>: You can control the TabbedForm better by registering a <a href="<%= javadocdir %>../javadoc/j2me/de/enough/polish/ui/TabbedFormListener.html">TabbedFormListener</a>.</li>
		<li><b>+ Improved NetBeans</b>: In the NetBeans module you can now select target devices by API support</li>
		<li><b>+ ScreenInfo Animation</b>: ScreenInfo is now also being animated </li>
		<li><b>+ Motorola</b>: Improved Motorola emulator support</li>
		<li><b>+ Commands</b>: Added methods for deactivating commands via <a href="<%= javadocdir %>../javadoc/j2me/de/enough/polish/ui/UiAccess.html">UiAccess</a><code>.setAccessible()</code>.</li>
		<li><b>+ BlackBerry trackball</b>: TrackBall navigation is now supported on BlackBerry (thanks to the nice folks of <a href="http://earthcomber.com/" target="_blank">Earthcomber</a>)</li>
		<li><b>+ BlackBerry password</b>: Password TextFields are now supported on BlackBerry</li>
		<li><b>+ ScreenHistory</b>: <a href="<%= javadocdir %>../javadoc/j2me/de/enough/polish/ui/ScreenHistory.html">ScreenHistory</a> provides a navigation history for typical mobile applications.</li>
		<li><b>+ Emulator transient mode</b>: UEI emulators can now be started in the transient mode (install, run and deinstall) by specifying <code>transient=&quot;true&quot;</code> in the &lt;emulator&gt; section.</li>
		<li><b>- Device Database</b>: Fixed wrong Samsung definitions</li>
		<li><b>- Pointer Events</b>: Fixed handling of pointer events for FramedForm </li>
		<li><b>- Installer</b>: Installer on Mac OS X with Java 1.4 now allows correct selection of folders</li>
		<li><b>- Decimal TextField</b>: Decimal TextFields now work correctly and allow the input of dot separated numbers.</li>
		<li><b>- Commands on S60</b>: Commands are now supported on S60 phones without activating the &quot;menu&quot; fullscreen mode.</li>
		<li><b>- RMI Security Exception</b>: a SecurityException now results in a RemoteException</li>
		<li><b>- CustomItem.invalidate</b>: massive size changes are now detected and handled in CustomItem.invalidate().</li>
		<li><b>- Scrolling</b>: Jumping from the last to the first item now works as expected.</li>
		<li><b>- PullParser</b>: Renamed PullParser to <a href="<%= javadocdir %>../javadoc/j2me/de/enough/polish/xml/SimplePullParser.html">SimplePullParser</a> for limiting name clashes with KXML when the <code>useDefaultPackage</code> option is used for the &lt;obfuscator&gt; element.</li>
		<li><b>+ Documentation</b>: Improved documentation.</li>
		<!--  
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		<li><b></b>: </li>
		-->
	</ul>
<%include end.txt %>